<footer class="footer" role="contentinfo">
    <div class="footer__top">
        <div class="footer__logo">
            <svg class="icon icon--logo-white"><use xlink:href="#svg-logo-white"></use></svg>
        </div>
        <div class="footer__cols">
            <div class="footer__row">
                <div class="footer__col-group">
                    <nav class="footer__col">
                        <ul>
                            <li><a href="index.html">Pathé</a></li>
                            <li><a href="cinemas.html">Cinemas</a></li>
                            <li><a href="films.html">Films</a></li>
                            <li><a href="live.html">Live</a></li>
                        </ul>
                    </nav>
                    <nav class="footer__col">
                        <ul>
                            <li><a href="foundation.html">Foundation</a></li>
                            <li><a href="newsroom.html">Newsroom</a></li>
                            <li><a href="join.html">Join us</a></li>
                        </ul>
                    </nav>
                    <nav class="footer__col">
                        <ul>
                            <li><a href="leadership.html">Executive Leadership</a></li>
                            <li><a href="code-conduct.html">Pathé's code of conduct <svg class="icon icon--ext"><use xlink:href="#svg-footer-download"></use></svg></a></li>
                            <li><a href="cvd.html">CVD Statement <svg class="icon icon--ext"><use xlink:href="#svg-footer-download"></use></svg></a></li>
                        </ul>
                    </nav>
                    <nav class="footer__col">
                        <ul>
                            <li><a href="terms.html">Terms of use</a></li>
                            <li><a href="privacy.html">Privacy Policy <svg class="icon icon--ext"><use xlink:href="#svg-footer-download"></use></svg></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="footer__row">
                <div class="footer__col-group">
                    <div class="footer__col-block">
                        <strong class="footer__col-title">Films</strong>
                        <nav class="footer__col">
                            <ul>
                                <li><a href="#">France <svg class="icon icon--ext"><use xlink:href="#svg-footer-ext"></use></svg></a></li>
                                <li><a href="#">United Kingdom <svg class="icon icon--ext"><use xlink:href="#svg-footer-ext"></use></svg></a></li>
                                <li><a href="#">Switzerland <svg class="icon icon--ext"><use xlink:href="#svg-footer-ext"></use></svg></a></li>
                                <li><a href="#">International Sales <svg class="icon icon--ext"><use xlink:href="#svg-footer-ext"></use></svg></a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="footer__col-block">
                        <strong class="footer__col-title">Cinemas</strong>
                        <nav class="footer__col">
                            <ul>
                                <li><a href="#">Belgium <svg class="icon icon--ext"><use xlink:href="#svg-footer-ext"></use></svg></a></li>
                                <li><a href="#">France <svg class="icon icon--ext"><use xlink:href="#svg-footer-ext"></use></svg></a></li>
                                <li><a href="#">Ivory Coast <svg class="icon icon--ext"><use xlink:href="#svg-footer-ext"></use></svg></a></li>
                                <li><a href="#">Morocco <svg class="icon icon--ext"><use xlink:href="#svg-footer-ext"></use></svg></a></li>
                                <li><a href="#">The Netherlands <svg class="icon icon--ext"><use xlink:href="#svg-footer-ext"></use></svg></a></li>
                                <li><a href="#">Senegal <svg class="icon icon--ext"><use xlink:href="#svg-footer-ext"></use></svg></a></li>
                                <li><a href="#">Switzerland <svg class="icon icon--ext"><use xlink:href="#svg-footer-ext"></use></svg></a></li>
                                <li><a href="#">Tunisia <svg class="icon icon--ext"><use xlink:href="#svg-footer-ext"></use></svg></a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="footer__col-block">
                        <strong class="footer__col-title">Others</strong>
                        <nav class="footer__col">
                            <ul>
                                <li><a href="foundation.html">Fondation Jérôme Seydoux-Pathé <svg class="icon icon--ext"><use xlink:href="#svg-footer-ext"></use></svg></a></li>
                                <li><a href="live.html">Pathé Live <svg class="icon icon--ext"><use xlink:href="#svg-footer-ext"></use></svg></a></li>
                                <li><a href="vod.html">VOD - France <svg class="icon icon--ext"><use xlink:href="#svg-footer-ext"></use></svg></a></li>
                                <li><a href="vod.html">VOD - The Netherlands <svg class="icon icon--ext"><use xlink:href="#svg-footer-ext"></use></svg></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <span class="footer__copy">© Pathé - 2026</span>
        <nav class="footer__bottom-nav">
            <ul>
                <li>
                    <span class="footer__lang-active">
                        <span>English</span>
                        <svg class="icon icon--chevron"><use xlink:href="#svg-footer-chevron"></use></svg>
                    </span>
                </li>
                <li><a href="contact.html">Contact us</a></li>
                <li><a href="legal.html">Legal notice</a></li>
                <li><span class="footer__cookie" style="cursor:pointer">Set your cookies</span></li>
            </ul>
        </nav>
    </div>
</footer>
